
    <h1>Our Blog</h1>
    
    <ul>
        <% @homes.each do |home| %>        
        <li><%= link_to home.title, home_path(home.id) %></li>
        <% end %>
    </ul>

    <p><%= link_to 'New Blog', new_blog_path %></p>